/* Base styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Light theme styles */
.light-theme .App-header {
  background-color: #f8f9fa; /* Light gray background */
  color: #212529; /* Dark text for light theme */
}

.light-theme .App-link {
  color: #007bff; /* Bootstrap primary blue */
}

/* Dark theme styles */
.dark-theme .App-header {
  background-color: #282c34; /* Dark background */
  color: white; /* Light text for dark theme */
}

.dark-theme .App-link {
  color: #61dafb; /* Light blue link color */
}
